body {
  text-align: center;
}
.navbar-brand {
  margin-left: 40px;
}
.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
}
.navitems {
  margin-left: 40rem;
  padding: 5px 50px;
}
/* part one */

.bankBtn {
  margin-right: 28rem;
}
.navbar-GetDbank {
  margin-left: 2.5rem;
}
.part-one {
  margin: 10% 10%;
}
#part-one-h1 {
  margin-top: 5rem;
  color: green;
}
.paragraph {
  text-align: justify;
}

/* part two */
.part-two {
  margin: 7% 10%;
  text-align: justify;
}
.jumpp {
  box-shadow: 1px 1px 0px 1px;
  color: green;
  line-height: 1.5;
}
/* part three */
.part-three {
  margin: 15% 10%;
  text-align: justify;
}
.p3-h1 {
  color: green;
}
.links {
  text-decoration: none;
  color: green;
}

/* part four */
.part-four {
  margin: 10% 10%;
  text-align: justify;
}
.pFour-h1 {
  color: green;
  margin-top: 6rem;
}

/* part five */
.part-five {
  margin: 10% 10%;
  text-align: justify;
}
.pFive-h1 {
  color: green;
  margin-top: 12rem;
}

.part-six {
  margin: 10% 10%;
  text-align: justify;
}
.part-sixh1 {
  margin-top: 12rem;
  color: green;
}
